USE [controlepessoal]
GO
/****** Object:  Table [dbo].[LANCAMENTOS]    Script Date: 22/01/2023 23:10:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANCAMENTOS](
	[ID_LANCAMENTOS] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](50) NULL,
	[VALOR] [varchar](10) NULL,
	[TIPO] [varchar](1) NULL,
	[DATALANCAMENTO] [varchar](10) NULL,
 CONSTRAINT [PK_LANCAMENTOS] PRIMARY KEY CLUSTERED 
(
	[ID_LANCAMENTOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
